@model AppSchool.Models.Login
@{
    ViewBag.Title = "Principal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="~/Content/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="~/Content/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="~/Content/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!--Dropdown-->
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <center>
        <div class="wrap-login100" style="width: 90%; border:solid; border-color: black;">
            <header class="site-header">
                <div class="top-header-bar" >
                    <div class="container">
                        <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                            <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">

                                <div class="header-bar-text">
                                    <h2>APPSCHOOL</h2>
                                </div><!-- .header-bar-text -->
                            </div><!-- .col -->

                            <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .top-header-bar -->
                    <div class="nav-bar" margin-left -100px;;>
                        <div class="container">
                            <div class="row">
                                <nav class="site-navigation d-flex justify-content-end align-items-center">
                                    <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                        <li class="current-menu-item"><a href="~/Principal/Principal">Página Inicial</a></li>
                                        <li><a href="~/Acesso/Aluno">Alunos</a></li>
                                        <li><a href="~/Acesso/Professor">Professores</a></li>
                                        <li><a href="~/Acesso/Nutricionista">Nutricionistas</a></li>
                                        <li><a href="~/Acesso/Instituicao">Instituições</a></li>
                                        <li><a href="~/Cadastro/CadastroSala">Salas</a></li>
                                        <li><a href="~/Cadastro/CadastroAulas">Aulas</a></li>
                                        <li><a href="~/Lista/Almoco">Almoço</a></li>
                                        <li><a href="~/Cadastro/PostarCardapio">Postar Cardápio</a></li>
                                        <li><a href="~/Login/Login">Sair</a></li>
                                    </ul>
                                </nav><!-- .site-navigation -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .nav-bar -->
            </header><!-- .site-header -->

            <div class="swiper-container hero-slider">
                <!-- Add Arrows -->
                <div class="swiper-button-next flex justify-content-center align-items-center">
                    <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z" /></svg></span>
                </div>

                <div class="swiper-button-prev flex justify-content-center align-items-center">
                    <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z" /></svg></span>
                </div>
            </div><!-- .hero-slider -->
            <br />
        </div>
    </center>
        <script type='text/javascript' src='~/Scripts/jquery.js'></script>
        <script type='text/javascript' src='~/Scripts/jquery.collapsible.min.js'></script>
        <script type='text/javascript' src='~/Scripts/swiper.min.js'></script>
        <script type='text/javascript' src='~/Scripts/jquery.countdown.min.js'></script>
        <script type='text/javascript' src='~/Scripts/circle-progress.min.js'></script>
        <script type='text/javascript' src='~/Scripts/jquery.countTo.min.js'></script>
        <script type='text/javascript' src='~/Scripts/jquery.barfiller.js'></script>
        <script type='text/javascript' src='~/Scripts/custom.js'></script>
        <script>window.history.forward(1);</script>
</body>
</html>

