
@{
    ViewBag.Title = "Nutricionistas";
}

<h2>Nutricionistas</h2>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/Content/bootstrap.min.css">

<!-- FontAwesome CSS -->
<link rel="stylesheet" href="~/Content/font-awesome.min.css">

<!-- ElegantFonts CSS -->
<link rel="stylesheet" href="~/Content/elegant-fonts.css">

<!-- themify-icons CSS -->
<link rel="stylesheet" href="~/Content/themify-icons.css">

<!-- Swiper CSS -->
<link rel="stylesheet" href="~/Content/swiper.min.css">

<!-- Styles -->
<link rel="stylesheet" href="~/Content/style.css">
<!--Dropdown-->
<link rel="stylesheet" href="~/Content/Site.css" />
<header class="site-header">
    <div class="nav-bar">
        <div class="container">
            <div class="row">
                <nav class="site-navigation d-flex justify-content-end align-items-center">
                    <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                        <li class="current-menu-item"><a href="~/Principal/Principal">Nutricionistas</a></li>
                        <li><a href="~/Cadastro/CadastroNutricionista">Cadastro de Nutricionistas</a></li>
                        <li><a href="~/Lista/Nutricionista">Lista de Nutricionistas</a></li>
                        <li><a href="~/Principal/Principal">Voltar</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header>
